﻿@{
    ViewBag.Title = "About";
}
<h2>This is the project for Yellow Group for CST-247</h2>


<p>This group consists of Mathew Paschall and Robbie Evans III. 
    We are a two man team working to complete a project using ASP.Net and the MVC framework. 
    This project is a work in progress, but we are getting the hang of it. Please login to see what we come up with next.</p>
