﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CST-247 Yellow Group Project</h1>
    <p class="lead">Welcome to the Yellow Group Project for CST-247.</p>
    <p><a href="http://localhost:50722/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
    <p><a href="http://localhost:50722/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

