﻿@model YellowGroupCST247.Models.GameBoard
@{
    ViewBag.Title = "GameView";

    @*Saves all buttons for future game, should link to SaveGame function on GameController*@
    <input type="submit" value="Save" onclick="saveButtons()" class="btn-dark" />
    <input type="submit" value="Restart" onclick="window.location.href = window.location.href" class="btn-dark" />
}



<h2>GameView</h2>

<div>
    <table class="alert-dark"  cellpadding=0 cellspacing=0>

        <thead>



        </thead>

        <tbody>



            @foreach (YellowGroupCST247.Models.GridRow GBRow in Model.GameBoardRows)

            {

                <tr>

                    @foreach (YellowGroupCST247.Models.GridCell GBCell in GBRow.Cells)

                {
                        <td width="10px" contenteditable="true"> 
                    <button type="submit" 
                            name="@GBCell.CellLocX, @GBCell.CellLocY" 
                            value="@GBCell.IsMine" 
                            style="height:30px;width:30px;" 
                            onclick="checkThisCell(@GBCell.CellLocX, @GBCell.CellLocY), checkAllNeighbors(@GBCell.CellLocX, @GBCell.CellLocY), checkNeighborN()"> 
                            </button></td>
                        <td></td>
                        <td></td>
                    }

                </tr>
               

            }


        </tbody>

    </table>
  
</div>



        @Scripts.Render("~/Scripts/GamePlay.js")
<script src="~/Scripts/App/GamePlay.js"></script>



