﻿@model IEnumerable<YellowGroupCST247.Models.UserAccount>

@{
    ViewBag.Title = "UserInfo";
}


<h2>Info</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.FirstName </td>
            <td> @item.LastName </td>
            <td>  @item.Sex</td>
            <td>  @item.Age</td>


        </tr>
    }
</table>